footer{
    padding-top: 120px;
    background-color: #fff;
    padding-bottom: 30px;
    @media #{$big_tab}{
        padding-top: 90px;
    }
    .f_networks{
        display: flex;
        align-items: center;
        gap: 16px;
        margin-left: auto;
        @media #{$small_laptop}{
            order: 2;
            margin-left: 0;
        }
        a{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .footer_block{
        display: flex;
        gap: 10px 30px;
        flex-wrap: wrap;
        @media #{$small_laptop}{
            flex-direction: column;
            gap: 30px;
        }
        .footer_left{
            max-width: 400px;
            @media #{$small_laptop}{
                max-width: 70%;
                order: 1;
            }
            @media #{$big_mobile}{
                max-width: 100%;
            }
            .footer_subtitle{
                color: #000;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 40px;
                margin-top: 40px;
                @media #{$big_mobile}{
                    margin-top: 30px;
                    margin-bottom: 30px;
                    font-size: 14px;
                }
            }
            .subscribe_form{
                display: flex;
                gap: 20px;
                margin-bottom: 20px;
                .subscribe_input{
                    color: #000;
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    border-radius: 8px;
                    border: 1px solid #E1E1E1;
                    padding: 12px;
                    height: 48px;
                    outline: none;
                    &::placeholder{
                        color: #B9B9B9;   
                    }
                    @media #{$small_laptop}{
                        width: calc(62.5% - 10px);
                    }
                }
                .subscribe_btn{
                    color: #FFF;
                    text-align: center;
                    font-family: Inter;
                    font-size: 12.797px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 36px; /* 281.319% */
                    border-radius: 8px;
                    background: #0076E2;
                    height: 48px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    cursor: pointer;
                    padding: 6px 20px;
                    transition: all ease-in .3s;
                    border: 2px solid transparent;
                    &:disabled {
                      cursor: not-allowed;
                      background: #A7AAB3;
                    }
                    &:focus{
                      background: #0076E2;
                      border-color: #0064C0;
                    }
                    &:active{
                      background: #2088E8;
                    }
                    &:hover:not(:disabled) {
                      background: #0064C0;
                    }
                    @media #{$small_laptop}{
                        width: calc(31.75% - 10px);
                    }
                    @media #{$big_mobile}{
                        width: 127px;
                    }
                }
            }
            .agree_text{
                display: flex;
                flex-direction: column;
                gap: 13px;
                margin-bottom: 30px;
                p{
                    color: rgba(32, 40, 56, 0.60);
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    display: flex;
                    flex-direction: column;
                    a{
                        color: #797E88;
                        font-family: Inter;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-decoration-line: underline;
                        text-decoration-style: solid;
                        text-decoration-skip-ink: none;
                        text-decoration-thickness: auto;
                        text-underline-offset: auto;
                        text-underline-position: from-font;
                        display: inline-flex;
                    }
                    
                }
            }
            .f_actions{
                display: flex;
                flex-direction: column;
                gap: 15px;
                li{
                    a{
                        display: flex;
                        flex-direction: column;
                        color: #000;
                        font-family: Inter;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        span{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .footer_right{
            display: flex;
            gap: 30px;
            width: calc(100% - 430px);
            @media #{$small_laptop}{
                width: 100%;
                order: 3;
                flex-wrap: wrap;
            }
            @media #{$big_mobile}{
                gap: 30px 15px;
            }
            nav{
                display: flex;
                flex-direction: column;
                gap: 30px;
                width: 170px;
                @media #{$small_laptop}{
                    width: calc(25% - 22.5px);
                }
                @media #{$big_tab}{
                    width: calc(50% - 15px);
                }
                @media #{$big_mobile}{
                    width: calc(50% - 7.5px);
                }
                &:nth-child(2){
                    width: 175px;
                    @media #{$small_laptop}{
                        width: calc(25% - 22.5px);
                    }
                    @media #{$big_tab}{
                        width: calc(50% - 15px);
                    }
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    li{
                        &:first-child{
                            margin-bottom: 15px;
                            a{
                                color: #202838;
                                font-family: Inter;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: normal;
                            }
                        }
                        a{
                            color: #202838;
                            font-family: Inter;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            b{
                                font-size: 18px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
}

.address_section {
    background-color: #202838;
    padding: 60px 0;
    .address__top {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 60px;
      @media #{$big_tab}{
        gap: 50px 0;
      }
      @media #{$big_mobile}{
        gap: 30px;
      }
      .address_item {
        padding: 0 30px;
        border-right: 1px solid rgba(255, 255, 255, 0.6);
        width: 25%;
        @media #{$big_tab}{
            width: 50%;
            &:nth-child(2n){
                border: none;
            }
        }
        @media #{$big_mobile}{
            width: 100%;
            border-right: none;
        }
        &:last-child {
          border-right: none;
        }
  
        h5 {
            color: #FFF;
            text-align: center;
            font-family: Inter;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 30px;
            @media #{$big_tab}{
                margin-bottom: 15px;
            }
            @media #{$big_mobile}{
                font-size: 18px;
            }
        }
  
        p {
            color: #FFF;
            text-align: center;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @media #{$big_mobile}{
                font-size: 14px;
            }
        }
      }
    }
  
    .address__bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      @media #{$big_tab}{
        flex-direction: column;
        align-items: start;
        gap: 30px;
      }
      .address_b_left{
        display: flex;
        align-items: center;
        gap: 60px;
        @media #{$big_tab}{
            flex-direction: column;
            align-items: start;
            gap: 15px;
        }
      }
      .footer__lang {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #FFF;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 27px */
        letter-spacing: -0.342px;
        cursor: pointer;
        @media #{$big_mobile}{
            font-size: 16px;
        }
      }
  
      .footer__policy {
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        letter-spacing: -0.304px;
  
        &:hover {
          text-decoration: underline;
        }
        @media #{$big_mobile}{
            font-size: 14px;
        }
      }
  
      .footer__copy {
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        letter-spacing: -0.304px;
        @media #{$big_mobile}{
            font-size: 14px;
        }
      }
    }
  }
  