$middle: '(max-width: 1600px)';

$big_laptop: '(max-width: 1340px)';

$small_laptop: '(max-width: 1230px)';

$tab: '(max-width: 1024px)';

$big_tab: '(max-width: 992px)';

$small_tab: '(max-width: 768px)';

$big_mobile: '(max-width: 640px)';

$mobile: '(max-width: 370px)';

$small_mobile: '(max-width: 450px)';

$smaller_mobile: '(max-width: 360px)';