*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // list-style: none;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  transition: all ease-in .2s;
  &:hover{
    color: #0064C0;
  }
  &:active{
    color: #2088E8;
  }
  &:disabled{
    color: #A7AAB3;
    cursor: not-allowed;
  }
}
button{
  cursor: pointer;
}
body{
  font-family: "Inter", sans-serif;
  font-style: normal;
  &.hidden{
    overflow: clip;
    @media #{$big_tab}{
      overflow-y: clip;
    }
  }
}
html{
  scroll-behavior: smooth;
}
.wrapper{
  overflow-x: clip;
}
.container{
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  @media #{$small_laptop}{
    max-width: 962px;
  }
  @media #{$big_tab}{
    max-width: 640px;
  }
  @media #{$big_mobile}{
    max-width: 450px;
  }
}
.btn_blue{
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  background: #0076E2;
  width: 240px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in .3s;
  border: 2px solid transparent;
  &:disabled {
    cursor: not-allowed;
    background: #A7AAB3;
  }
  &:focus{
    background: #0076E2;
    border-color: #0064C0;
  }
  &:active{
    background: #2088E8;
  }
  &:hover:not(:disabled) {
    background: #0064C0;
  }
}

.section_title{
  color: #202838;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 60px;
  text-align: center;
  &.white{
    color: #fff;
  }
  @media #{$big_tab}{
    font-size: 30px;
  }
  @media #{$big_mobile}{
    font-size: 25px;
    margin-bottom: 30px;
  }
}

.white_boxs{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  @media #{$small_laptop}{
    gap: 15px;
  }
  .white_box{
    border-radius: 21px;
    background: #FFF;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05), 0px 4px 24px 0px rgba(0, 0, 0, 0.05);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: calc(33.33% - 20px);
    @media #{$small_laptop}{
      width: calc(33.33% - 10px);
    }
    @media #{$big_tab}{
      width: calc(50% - 7.5px);
    }
    @media #{$big_mobile}{
      width: 100%;
    }
    h5{
      color: #202838;
      font-family: Inter;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      display: flex;
      align-items: start;
      gap: 15px;
      @media #{$big_mobile}{
        font-size: 18px;
      }
    }
    p{
      color: #202838;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; 
      @media #{$big_mobile}{
        font-size: 14px;
      }
    }
    img{
      max-width: 25px;
    }
  }
  &.tab_w_100{
    .white_box{
      @media #{$big_tab}{
        width: 100%;
      }
      h5{
        align-items: start;
      }
    }
  }
}

.gslide-image img {
  max-width: 94%;
  max-height: 97vh;
}

.swiper-buttons{
  display: flex;
  align-items: center;
  gap: 6px;
  position: absolute;
  right: 15px;
  top: -90px;
  @media #{$big_mobile}{
    top: auto;
    right: 0;
    left: 0;
    margin: 0 auto;
    justify-content: center;
  }
  .swiper-btn{
    display: flex;
    width: 42px;
    height: 42px;
    padding: 13px;
    justify-content: center;
    align-items: center;
    border-radius: 42px;
    background: #FFF;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.05), 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    &.swiper-next{
      img{
        transform: rotate(180deg);
      }
    }
    transition: all ease-in .2s;
    &:hover{
      box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.10), 0 2px 8px 0 rgba(0, 0, 0, 0.10);
    }
    &:active{
      box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.05), 0 2px 8px 0 rgba(0, 0, 0, 0.05);
    }
    
    @media #{$big_mobile}{
      width: 30px;
      height: 30px;
      padding: 9px;
      img{
        width: 100%;
        max-width: 100%;
      }
    }
  }
}



.hero_tmp{
  background: linear-gradient(179deg, rgba(255, 255, 255, 0.50) 0.75%, rgba(139, 191, 239, 0.20) 45.06%, rgba(255, 255, 255, 0.50) 99.23%), url(../imgs/main_hero_fon.png);
  background-repeat: no-repeat;
  padding-top: 292px;
  padding-bottom: 169px;
  margin-top: -142px;
  position: relative;
  z-index: -1;
  background-size: cover;
  background-position-x: right;
  &.bg_blue_tmp{
    background: linear-gradient(179deg, rgba(255, 255, 255, 0.50) 0.75%, rgba(139, 191, 239, 0.20) 45.06%, rgba(255, 255, 255, 0.50) 99.23%);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &.about_hero{
    background: linear-gradient(179deg, rgba(255, 255, 255, 0.50) 0.75%, rgba(139, 191, 239, 0.20) 45.06%, rgba(255, 255, 255, 0.50) 99.23%), url(../imgs/about_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, calc(100% - -197px) top;
  }
  @media #{$small_laptop}{
      background-position-x: right;
      padding-top: 140px;
      margin-top: 0;
  }
  @media #{$big_tab}{
      padding-top: 100px;
      padding-bottom: 177px;
  }
  @media #{$big_mobile}{
      padding-bottom: 102px;
  }
  .hero_tmp_block{
      .hero_tmp_title{
        color: #202838;
        font-family: Inter;
        font-size: 72px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
          margin-bottom: 30px;
          @media #{$big_tab}{
              font-size: 35px;
              margin-bottom: 15px;
          }
          @media #{$big_mobile}{
              font-size: 25px;
          }
      }
      .hero_tmp_subtitle{
          color: #202838;
          font-family: Inter;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 60px;
          @media #{$big_tab}{
              font-size: 16px;
              max-width: 84%;
          }
          @media #{$big_mobile}{
              font-size: 14px;
          }
          br{
              @media #{$big_tab}{
                  display: none;
              }
          }
      }
  }
}

.advan_tmp{
  position: relative;
  z-index: 2;
  .white_boxs_tmp{
    margin-top: -72px;
    padding-bottom: 90px;
    @media #{$big_mobile}{
      margin-top: -12px;
    }
  }
}

.white_boxs_tmp{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  @media #{$small_laptop}{
    gap: 15px;
  }
  .white_box_tmp{
    border-radius: 21px;
    background: #FFF;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05), 0px 4px 24px 0px rgba(0, 0, 0, 0.05);
    padding: 30px;
    display: flex;
    // flex-direction: column;
    gap: 15px;
    width: calc(33.33% - 20px);
    align-items: center;
    @media #{$small_laptop}{
      width: calc(33.33% - 10px);
    }
    @media #{$big_tab}{
      width: 100%;
    }
    @media #{$big_mobile}{
      width: 100%;
    }
    h5{
      color: #202838;
      font-family: Inter;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      display: flex;
      align-items: center;
      gap: 15px;
      @media #{$big_mobile}{
        font-size: 18px;
      }
    }
    p{
      color: #202838;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; 
      @media #{$big_mobile}{
        font-size: 14px;
      }
    }
  }
}



.swiper_blue_tmp{
  width: 100%;
  .swiper-wrapper{
      padding-bottom: 40px;
  }
  .pagination{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .swiper-pagination-bullet-active{
    width: 154px;
    border-radius: 24px;
    background: #0076E2;
    @media #{$big_mobile}{
      width: 51px;
    }
  }
}




.news_articles_block{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  @media #{$big_tab}{
    gap: 15px;
  }
  .articles_item{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: calc(33.33% - 20px);
    border-radius: 21px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(3, 3, 3, 0.05), 0px 8px 24px 0px rgba(0, 0, 0, 0.05);
    padding: 5px;
    overflow: clip;
    transition: all ease-in .3s;
    &:hover{
      transform: translateY(-15px);
      @media #{$big_tab}{
        transform: translateY(-7px);
      }
    }
    @media #{$big_tab}{
      width: calc(50% - 7.5px);
    }
    @media #{$big_mobile}{
      width: 100%;
    }
    p{
        color: #202838;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media #{$big_mobile}{
            font-size: 14px;
        }
    }
    .date_sp{
        color: #202838;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media #{$big_mobile}{
            font-size: 12px;
        }
    }
    .articles_item_bottom{
      display: flex;
      align-items: center;
      justify-content: space-between;
      span{
        color: rgba(32, 40, 56, 0.60);
        text-align: right;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    img{
        border-radius: 19px;
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .articles_item_content{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0 25px 25px 25px;
        @media #{$big_tab}{
          gap: 24px;
        }
        @media #{$big_mobile}{
          gap: 30px;
        }
    }
  }
}


.license_item{
  display: flex;
  flex-direction: column;
  padding: 5px;
  p{
      color: #202838;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 30px 25px 25px 25px;
      @media #{$big_tab}{
          font-size: 16px;
      }
      @media #{$big_mobile}{
          font-size: 12px;
          padding: 15px 10px 10px 10px;
      }
  }
}

.hero_title_small{
  color: #202838;
  font-family: Inter;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
  @media #{$small_laptop}{
    font-size: 45px;
  }
  @media #{$big_tab}{
    font-size: 35px;
    margin-bottom: 15px;
  }
  @media #{$big_mobile}{
    font-size: 25px;
    br{
      display: none;
    }
  }
}

.custom-tabs{
  .tab-content {
    display: none;
    animation: fadeIn 0.4s ease;
    &.active{
      display: block;
    }
  }
}


.page_links{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 50px 0;
  li{
    a{
      color: #202838;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}




header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;

  + section {
    padding-top: 390px !important;
  }

  @media #{$small_laptop} {
    + section {
      padding-top: 280px !important;
    }
  }
  @media #{$big_tab} {
    + section {
      padding-top: 210px !important;
    }
  }
  @media #{$big_mobile} {
    + section {
      padding-top: 190px !important;
    }
  }
}

.basic_tariff {
  padding-top: 140px !important;

  @media #{$big_mobile} {
    padding-top: 85px !important;
  }
}

.news_page_section {
  padding-top: 200px !important;

  @media #{$big_mobile} {
    padding-top: 120px !important;
  }
}


.accordion-header.text_bold,
  .menu-link.text_bold,
  .accordion-content a.text_bold,
  .api_page_left li a.text_bold {
    color: #000;
  }
