@import "_media";
@import "_settings";
@import "_header";
@import "_footer";
@import "_hero";
@import "_about";
@import "_platform";
@import "_channels";
@import "_tariffs";
@import "_services";
@import "_modals";